.header {
  background-color: black;
  height: 90px;
}
.navbar {
  padding-top: 0.9rem;
  padding-left: 2rem;
  padding-right: 3rem;
}
.navbar__menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu li {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  list-style: none;
}
.navbar__logo {
  padding-top: 0.4rem;
  width: 150px;
}
